<input type="text"
    (input)="onFieldChange($event)">
<input type="text"
    [(ngModel)]="fieldValue">
<!-- <p>{{ fieldValue }}</p> -->
<button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
    >
        Add Server
</button>
<p *ngIf="isDescription; else noServer">
    The Server was created!
    The server name is {{ fieldValue }}
</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>