<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <input type="text" [(ngModel)]="title">
            {{ title }}
            <hr>
            <div class="app-servers"></div>
            <div app-success-alert></div>
            <div app-warning-alert></div>
            <div username></div>
            <app-visit-score></app-visit-score>
        </div>
    </div>
</div> -->
<app-game-control
  (startGame)="onGameStarted($event)"
>
</app-game-control>
<app-even *ngIf="gameNumber % 2 == 0; else oddComponent"></app-even>
<ng-template #oddComponent>
  <app-odd></app-odd>
</ng-template>

